<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=deta, initial-scale=1.0">
    <title>Detalle Persona</title>
</head>
<body>
    <h1>Detalle persona</h1>
    <div> Id Persona : {{persona.id}} </div>
    <div> Nombre : {{persona.nombre}} </div>
    <div> Apellido : {{persona.apellido}} </div>
    <div> Correo : {{persona.email}} </div>

    <a href="{% url 'inicio' %}">Volver al inicio</a>
    
</body>
</html>